swagger_validation_v1_comprehensive.json
{
    "name": "Swagger Comprehensive Validator v1.0",
    "nodes": [
        {
            "parameters": {
                "fileSelector": "C:\\Users\\Vidata11\\n8n-local\\n8n-data\\RUTS.xlsx"
            },
            "id": "e6f8510c-352b-4d40-bcb4-374661858908",
            "name": "Read RUTs File",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "headerRow": 0,
                    "readAs": "string"
                }
            },
            "id": "9a0a09e1-678c-4b5c-b17a-8f5667e4e9a0",
            "name": "Parse Excel",
            "type": "n8n-nodes-base.spreadsheetFile",
            "typeVersion": 2,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Lista completa de endpoints detectados para v1.0\nconst endpoints = [\n  { path: '/v1/api/certificate/PensionLiquidation/list/{policyId}/{initialPeriod}/{finalPeriod}', method: 'GET', policyParam: 'policyId', extraParams: 'initialPeriod=202401;finalPeriod=202412' },\n  { path: '/v1/api/certificate/PensionLiquidation/list/{policyId}/{taxId}/{initialPeriod}/{finalPeriod}', method: 'GET', policyParam: 'policyId', rutParam: 'taxId', extraParams: 'initialPeriod=202401;finalPeriod=202412' },\n  { path: '/v1/api/certificate/tax-certificate/list/{taxId}/{businessLine}/{typeFile}', method: 'GET', rutParam: 'taxId', extraParams: 'businessLine=VI;typeFile=1' },\n  { path: '/v1/api/certificate/cartola-certificate/list/{taxId}/{typeFile}', method: 'GET', rutParam: 'taxId', extraParams: 'typeFile=Cartolas_Comerciales' },\n  { path: '/v1/api/certificate/copy-policy/{policyId}/VI', method: 'GET', policyParam: 'policyId' },\n  { path: '/v1/api/certificate/initial-policy/{policyId}/RV', method: 'GET', policyParam: 'policyId' },\n  { path: '/v1/api/certificate/validate-update-study-certificate/{taxId}', method: 'GET', rutParam: 'taxId' },\n  { path: '/v1/api/certificate/validate-update-income-tax-return/{taxId}', method: 'GET', rutParam: 'taxId' },\n  { path: '/v1/api/certificate/validate-update-state-guarantee/{taxId}', method: 'GET', rutParam: 'taxId' },\n  { path: '/v1/api/polizas/{rut}', method: 'GET', rutParam: 'rut' },\n  { path: '/v1/api/polizas/detalle/{poliza}/{lineaNegocio}', method: 'GET', policyParam: 'poliza', extraParams: 'lineaNegocio=VI' },\n  { path: '/v1/api/polizas/PaymentGroupCustomer/{policyId}/{customerTaxId}', method: 'GET', policyParam: 'policyId', rutParam: 'customerTaxId' },\n  { path: '/v1/api/polizas/acceso/{rut}/{lineaNegocio}', method: 'GET', rutParam: 'rut', extraParams: 'lineaNegocio=VI' },\n  { path: '/v1/api/polizas/paymenth-place/{taxId}', method: 'GET', rutParam: 'taxId' },\n  { path: '/v1/api/polizas/liquidation/last-period/{policyId}', method: 'GET', policyParam: 'policyId' },\n  { path: '/v1/api/certificate/PensionLiquidation/listSummaryPaid/{policyId}/{initialPeriod}/{finalPeriod}/{beneficiaryCustomerTaxId}', method: 'GET', policyParam: 'policyId', rutParam: 'beneficiaryCustomerTaxId', extraParams: 'initialPeriod=202401;finalPeriod=202412' }\n];\n\nconst results = [];\nconst baseUrl = 'http://api-productos.qa.seguros.local';\nconst isNumeric = (val) => /^[0-9]+$/.test(val.toString().trim());\n\nfor (const item of $input.all()) {\n  let policyId = (item.json['Número de Póliza'] || item.json['0'] || '').toString().trim();\n  let rawRut = (item.json['RUT'] || item.json['1'] || '').toString().trim();\n\n  if (!policyId || !rawRut || policyId === 'Número de Póliza') continue;\n\n  const rut = rawRut.replace(/[\\.\\-]/g, '');\n\n  for (const ep of endpoints) {\n    // Seguridad: Saltar endpoints numéricos si la póliza tiene letras (Evita ORA-01722)\n    if (ep.policyParam && !isNumeric(policyId)) continue;\n\n    let finalPath = ep.path;\n    if (ep.rutParam) finalPath = finalPath.replace(`{${ep.rutParam}}`, rut);\n    if (ep.policyParam) finalPath = finalPath.replace(`{${ep.policyParam}}`, policyId);\n    \n    if (ep.extraParams) {\n      ep.extraParams.split(';').forEach(p => {\n        const [k, v] = p.split('=');\n        finalPath = finalPath.replace(`{${k}}`, v);\n      });\n    }\n\n    results.push({\n      json: {\n        originalPolicy: policyId,\n        originalRut: rawRut,\n        cleanedRut: rut,\n        endpoint: ep.path,\n        method: ep.method,\n        url: baseUrl + finalPath,\n        expectedStatus: 200\n      }\n    });\n  }\n}\n\nreturn results;"
            },
            "id": "f5d72f1a-6d1e-4c3e-a4c3-6e3e-4e5e4e6f",
            "name": "Map All Endpoints",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "method": "={{ $json.method }}",
                "url": "={{ $json.url }}",
                "options": {
                    "fullResponse": true
                }
            },
            "settings": {
                "errorHandling": "continue",
                "alwaysOutputData": true
            },
            "id": "h7d8a9b0-c1d2-4e3f-a4b5-c6d7e8f9g0h1",
            "name": "Comprehensive API Executor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "res1",
                            "name": "Status",
                            "value": "={{ ($json.statusCode >= 200 && $json.statusCode < 300) ? 'PASS' : 'FAIL' }}",
                            "type": "string"
                        },
                        {
                            "id": "res2",
                            "name": "Endpoint",
                            "value": "={{ $node[\"Map All Endpoints\"].json[\"endpoint\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res3",
                            "name": "URL",
                            "value": "={{ $node[\"Map All Endpoints\"].json[\"url\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res4",
                            "name": "Poliza",
                            "value": "={{ $node[\"Map All Endpoints\"].json[\"originalPolicy\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res5",
                            "name": "RUT_Limpio",
                            "value": "={{ $node[\"Map All Endpoints\"].json[\"cleanedRut\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res6",
                            "name": "Error_Detail",
                            "value": "={{ $json.statusCode ? ($json.statusCode != 200 ? ($json.body.message || $json.body.error || $json.body.title || $json.body || 'Error') : '') : ($json.message || 'Node Error') }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "j9k0l1m2-n3o4",
            "name": "Comprehensive Summary",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Read RUTs File": {
            "main": [
                [
                    {
                        "node": "Parse Excel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Excel": {
            "main": [
                [
                    {
                        "node": "Map All Endpoints",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map All Endpoints": {
            "main": [
                [
                    {
                        "node": "Comprehensive API Executor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Comprehensive API Executor": {
            "main": [
                [
                    {
                        "node": "Comprehensive Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}