swagger_validation_clientes.json
{
    "name": "Swagger Clientes Validator v1.0",
    "nodes": [
        {
            "parameters": {
                "fileSelector": "C:\\Users\\Vidata11\\n8n-local\\n8n-data\\RUTS.xlsx"
            },
            "id": "e6f8510c-352b-4d40-bcb4-374661858908",
            "name": "Read RUTs File",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "headerRow": 0,
                    "readAs": "string"
                }
            },
            "id": "9a0a09e1-678c-4b5c-b17a-8f5667e4e9a0",
            "name": "Parse Excel",
            "type": "n8n-nodes-base.spreadsheetFile",
            "typeVersion": 2,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Endpoints detectados para Clientes API\nconst endpoints = [\n  { path: '/v1/AttentionFacts/Rut', method: 'GET', queryParam: 'Rut' },\n  { path: '/api/broad-mandate/{taxId}', method: 'GET', rutParam: 'taxId' },\n  { path: '/api/broad-mandate/list/{taxId}', method: 'GET', rutParam: 'taxId' },\n  { path: '/v1/api/clientes/Rut', method: 'GET', queryParam: 'Rut' },\n  { path: '/v1/api/clientes/Rut/pensiones', method: 'GET', queryParam: 'taxId' },\n  { path: '/v1/api/clientes/rv/credit-available/{rut}', method: 'GET', rutParam: 'rut' },\n  { path: '/v1/api/clientes/rv/payment-dates/{rut}', method: 'GET', rutParam: 'rut' },\n  { path: '/api/utils/taxid/validate/{taxId}', method: 'GET', rutParam: 'taxId' }\n];\n\nconst results = [];\nconst baseUrl = 'http://api-clientes.qa.seguros.local';\n\nfor (const item of $input.all()) {\n  let rawRut = (item.json['RUT'] || item.json['1'] || '').toString().trim();\n  let policyId = (item.json['Número de Póliza'] || item.json['0'] || '').toString().trim();\n\n  if (!rawRut || rawRut.toLowerCase() === 'rut') continue;\n\n  const rut = rawRut.replace(/[\\.\\-]/g, '');\n\n  for (const ep of endpoints) {\n    let finalUrl = baseUrl + ep.path;\n    \n    // Handle Path Parameters\n    if (ep.rutParam && ep.path.includes(`{${ep.rutParam}}`)) {\n      finalUrl = finalUrl.replace(`{${ep.rutParam}}`, rut);\n    }\n    \n    // Handle Query Parameters\n    if (ep.queryParam) {\n      finalUrl += `?${ep.queryParam}=${rut}`;\n    }\n\n    results.push({\n      json: {\n        originalRut: rawRut,\n        cleanedRut: rut,\n        endpoint: ep.path,\n        method: ep.method,\n        url: finalUrl,\n        expectedStatus: 200\n      }\n    });\n  }\n}\n\nreturn results;"
            },
            "id": "f5d72f1a-6d1e-4c3e-a4c3-6e3e-4e5e4e6f",
            "name": "Map Clientes Endpoints",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "method": "={{ $json.method }}",
                "url": "={{ $json.url }}",
                "options": {
                    "fullResponse": true
                }
            },
            "settings": {
                "errorHandling": "continue",
                "alwaysOutputData": true
            },
            "id": "h7d8a9b0-c1d2-4e3f-a4b5-c6d7e8f9g0h1",
            "name": "Clientes API Executor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "res1",
                            "name": "Status",
                            "value": "={{ ($json.statusCode >= 200 && $json.statusCode < 300) ? 'PASS' : 'FAIL' }}",
                            "type": "string"
                        },
                        {
                            "id": "res2",
                            "name": "Endpoint",
                            "value": "={{ $node[\"Map Clientes Endpoints\"].json[\"endpoint\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res3",
                            "name": "URL",
                            "value": "={{ $node[\"Map Clientes Endpoints\"].json[\"url\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res5",
                            "name": "RUT_Limpio",
                            "value": "={{ $node[\"Map Clientes Endpoints\"].json[\"cleanedRut\"] }}",
                            "type": "string"
                        },
                        {
                            "id": "res6",
                            "name": "Error_Detail",
                            "value": "={{ $json.statusCode ? ($json.statusCode != 200 ? ($json.body.message || $json.body.error || $json.body.title || $json.body || 'Error') : '') : ($json.message || 'Node Error') }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "j9k0l1m2-n3o4",
            "name": "Validation Summary",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Read RUTs File": {
            "main": [
                [
                    {
                        "node": "Parse Excel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Excel": {
            "main": [
                [
                    {
                        "node": "Map Clientes Endpoints",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Clientes Endpoints": {
            "main": [
                [
                    {
                        "node": "Clientes API Executor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clientes API Executor": {
            "main": [
                [
                    {
                        "node": "Validation Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}